<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atlast.MegaLike"
    android:versionCode="4"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Lib.UILApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainGalleryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Styled" >

            <!-- MainGalleryActivity is also the searchable activity -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            
 			<!-- enable the search dialog to send searches to itself -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".MainGalleryActivity" />
        </activity>
        <activity
            android:name=".PhotoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <!-- this is the searchable activity; it performs searches -->
        <activity
            android:name=".SearchableActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Sherlock" >

            <!-- might need to remove this when doing searching with via facebook -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Provides search suggestions for friends. -->
        <provider
            android:name=".SearchSuggestionProvider"
            android:authorities="com.atlast.MegaLike.SearchSuggestionProvider"
            android:syncable="false" />
    </application>

</manifest>